[Unit]
Description=StudentManagement App

[Service]
ExecStart=/usr/bin/java -jar /home/ec2-user/StudentManagement.jar
Restart=no
Type=simple
User=ec2-user
Group=ec2-user
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target