<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>受講生詳細</title>
</head>
<body>
<h1>受講生詳細</h1>
<form th:action="@{/updateStudent}" th:object="${studentDetail}" method="post">

  <input type="hidden" th:field="*{studentsCourses[0].idBigint}" />
  <input type="hidden" th:field="*{studentsCourses[0].studentsId}" />

  <div>
    <label for="id">ID:</label>
    <input type="text" id="id" th:field="*{student.id}" readonly />
  </div>
  <div>
    <label for="name">名前:</label>
    <input type="text" id="name" th:field="*{student.name}" required />
  </div>
  <div>
    <label for="nameKana">カナ名:</label>
    <input type="text" id="nameKana" th:field="*{student.nameKana}" required />
  </div>
  <div>
    <label for="nickname">ニックネーム:</label>
    <input type="text" id="nickname" th:field="*{student.nickname}" required />
  </div>
  <div>
    <label for="mailaddress">メールアドレス:</label>
    <input type="text" id="mailaddress" th:field="*{student.mailaddress}" required />
  </div>
  <div>
    <label for="live">住所:</label>
    <input type="text" id="live" th:field="*{student.live}" required />
  </div>
  <div>
    <label for="age">年齢:</label>
    <input type="text" id="age" th:field="*{student.age}" />
  </div>
  <div>
    <label for="sex">性別:</label>
    <input type="text" id="sex" th:field="*{student.sex}" />
  </div>
  <div>
    <label for="remark">備考:</label>
    <input type="text" id="remark" th:field="*{student.remark}" />
  </div>
  <div>
    <label for="isDeleted">キャンセル:</label>
    <input type="checkbox" id="isDeleted" th:field="*{student.deleted}" />
  </div>

  <!-- 受講コースID -->
  <div th:if="*{studentsCourses != null and !studentsCourses.isEmpty()}">
    <label>受講生ID:　</label>
    <input type="text" th:value="*{studentsCourses[0].studentsId}" readonly />
  </div>

  <div th:if="*{studentsCourses == null or studentsCourses.isEmpty()}">
    <p>コース情報がありません</p>
  </div>

  <!-- コース -->
  <div>
    <label>受講コース名:</label>
    <select th:field="*{studentsCourses[0].courseName}" required>
      <option value="" disabled selected>選択してください</option>
      <option value="Javaコース">Javaコース</option>
      <option value="デザインコース">デザインコース</option>
      <option value="動画編集コース">動画編集コース</option>
      <option value="Webアプリ開発コース">Webアプリ開発コース</option>
    </select>
  </div>
  <div>
    <button type="submit">更新</button>
  </div>
</form>
</body>
</html>